html,
body {
  height: 100%;
  padding: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px; // font-size: 1vw;
  color: @grey-dark;
  background-color: @grey-light;
}