@white: #fff;
@grey-lightest: #f9f9f9;
@grey-light: #e3e3e3;
@grey: #e5e5e5;
@grey-dark: #b9b9b9;
@purple: #c68eaa;
@green: #7ed321;
@emerald: #04BDBD;
@blue: #04AEC5;
@blue-dark: #0F6CC9;
@color-primary: @green;
@color-primary-strong: darken(saturate(@color-primary, 5%), 10%);

html,
body {
  height: 100%;
  padding: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px; // font-size: 1vw;
  color: @grey-dark;
  background-color: @grey-light;
}

h1 {
    color: @color-primary-strong;
    padding-bottom: 40px;
}
.content {
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: @white;
  border-radius: 3px * 1.4;
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);
}
.error {
    color: red;
}

.success {
    color: green;
}